@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ropa+Sans:ital@0;1&display=swap');
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background: #e5e5e5;
    
    justify-content: center;
    width: 697px;
    height: 1264px;
    background-color: #ffffff;
    margin-inline: auto;
    font-family: "Ropa Sans", sans-serif;
}
header {
    width: 697px;
    height: 49px;
    background-color: #ffffff;
    padding: 0 32px 0 32px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    padding: 10px 0 10px 0;
}
.menu {
    display: flex;
    justify-content:right;
}
.banner-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0 32px 0;
}
.banner-principal .slides {
    width: 688px;
    height: 259px;
}
.banner-principal .slides img {
    width: 100%;
}
.banner-principal button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(141, 141, 141, 0.62);
    outline: 0;
    border: 0;
    padding: 0;
    transition: background-color 0.5s;
}
.banner-principal button:hover {
    background-color: rgba(141, 141, 141, 0.8);
}
.banner-principal button.arrow-left {
    transform: translateX(55px);
}
.banner-principal button.arrow-right {
    transform: translateX(-55px);
}

.cards {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    padding: 0 32px 0 32px;
}
.card {
    width: 256px;
    height: 270px;
    background: #EEEEEE;
}
.card .card-header {
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
  .card-header .preco {
    font-size: 25px;
    color: #888888;
}
  .card-header .new {
    background-color: #51d275;font-size: 16px;
    color: #fff;
    padding: 6px 12px 6px 12px;
    border-radius: 16px;
}
  
  .card-header .sale {
    background-color: #dc9730;
    color: #fff;
    padding: 6px 12px 6px 12px;
    border-radius: 16px;
}
  .card .descricao {
    padding: 8px;
    text-align: justify;
  
    background: #EEEEEE;
    font-size: 14px;
}
  .your-style {
    padding: 32px;
}
  .your-style h2 {
    color: #888888;
    font-size: 25px;
    font-weight: normal;
    height: 100%;
    text-align: center;
}
  .your-style > div {
    margin: 8px 0;
    height: 80px;
    font-size: 24px;
    color: #ffffff;
    background-size: cover;
}
  
  .your-style div p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 1px #555555;
    background: rgba(196, 196, 196, 0.5);
}
.your-style div p:hover {
    background: rgba(196, 196, 196, 0.3);
    cursor: pointer;
}
.your-style .industrial {
    background: url("../img/industrial.png");
}
.your-style .modern {
    background: url("../img/modern.png");
}
  .your-style .classic {
    background: url("../img/classic.png");
}
footer {
    height: 243px;
    padding: 32px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background-color: #333333;
    color: #fff;
  }
  
  footer .map {
    width: 252px;
    height: 163px;
    border-radius: 19px;
    background: url("../img/map.png");
    cursor: pointer;
  }
  
  .contacts-container {
    padding: 8px;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
  }
  
  .address {
    margin-bottom: 8px;
  }
  
  .address ul,
  .social-media ul {
    list-style: none;
  
    margin: 0;
    padding: 0;
  }
  
  .address ul li {
    line-height: 23px;
  }
  
  .social-media h4 {
    font-weight: 400;
  }
  
  .social-media ul {
    margin-top: 8px;
  
    display: flex;
  }
  
  .social-media ul li + li {
    margin-left: 14px;
  }